*{
    font-family: 'NEXON Lv1 Gothic OTF';
  }

@import compass
text-success {
    color :rgba(27, 175, 234, 1)
}
/*.raise_test:hover,*/
/*.raise_test:focus {*/
/*  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);*/

.form-style-3{
	max-width: 450px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: #b172f0;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #e7d2ff;
	padding: 20px;
	background: #fbf4ff;
	box-shadow: inset 0px 0px 15px #f7e5ff;
	-moz-box-shadow: inset 0px 0px 15px #f5e5ff;
	-webkit-box-shadow: inset 0px 0px 15px #f2e5ff;
}
.form-style-3 fieldset legend{
	color: #5f14d5;
	border-top: 1px solid #e2d2ff;
	border-left: 1px solid #ded2ff;
	border-right: 1px solid #e5d2ff;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select,
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #e1c2ff;
	outline: none;
	color: #b572f0;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #e9d5ff;
	-moz-box-shadow: inset 1px 1px 4px #e9d5ff;
	-webkit-box-shadow: inset 1px 1px 4px #e9d5ff;
	background: #f5efff;
	width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: #933beb;
	border: 1px solid #7f4ac9;
	padding: 5px 15px 5px 15px;
	color: #dbcbff;
	box-shadow: inset -1px -1px 3px #a362ff;
	-moz-box-shadow: inset -1px -1px 3px #ab62ff;
	-webkit-box-shadow: inset -1px -1px 3px #b162ff;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: bold;
}
.required{
	color: #4400ff;
	font-weight:normal;
}


.text-typing p {
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 3s steps(22,end) forwards,
            blink 1s infinite;
}
@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}

/*그래프 그리는 부분*/
.d-flex {
display:-ms-flexbox!important;
display:flex!important;
}
.food-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
.bar-container {
  height: 2.7rem;
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotate {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-40%);
    }
    75% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(-80%);
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color : #FAF1BE;
    color : #000;
    font-family : "NEXON Lv1 Gothic OTF";
}

#main_contents {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#main_contents .wrapper {
    display : flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.title {
    text-align: center;
    padding-bottom: 30px;
}

.main_title {
    font-family: "GmarketSansBold";
    font-size: 70px;
    padding-bottom: 20px;
}

.sub_title {
    font-size: 27px;
    font-weight: bold;
    color: #7F47DD;
    padding-bottom: 20px;
}

.intro {
    text-align: center;
    padding-bottom: 5px;
}

.intro h1 {
    font-size: 23px;
    padding-bottom: 5px;
}

img {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.container {
  padding-top: 10px;
}

.type {
  font-size: 25px;
  line-height: 6em;
  height: 5em;
  overflow: hidden;
}

.type_list {
  animation: rotate 7s infinite;
  list-style: none;
}

/* button style (upload, submit) */

.filebox .upload_btn {
    align-content: flex-start;
}

.filebox .submit_btn {
    align-content: flex-end;
}

.filebox label {
    border-style: none;
    border-radius: 10px;
    width: 15vh;
    height: 20px;
    text-align: center;
    display: inline-block;
    padding: .5em .75em;
    color: #7F47DD;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.filebox {
    position : absolute;
}

.filebox label:hover {
    background-color: lightyellow;
}

.filebox label:active {
    background-color: hotpink;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filebox input[type="submit"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.count{
    position: relative;
    margin: 40px 0;
    padding: 14px 16px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    +border-radius(4px);
    display: inline-block;
    background: rgba(255,255,255,0.1);
}

.glow{
    +text-shadow(0 0 4px #ffffff);
}


