<!DOCTYPE html>
<html lang="en">
<!-------------------------------------- HEAD START -------------------------------------->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>酒조상궁</title>
  <link rel="stylesheet" type="text/css" href="static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    $(document).ready(function() {
    $('#loading').hide();
    });
  </script>
  <script>
  function countUp(count)
  {console.log(count);
    var div_by = 100,
        speed = Math.round(count / div_by),
        $display = $('.count'),
        run_count = 1,
        int_speed = 35;

    var int = setInterval(function() {
      if(run_count < count+1){
        $display.text(speed * run_count);
        run_count++;
      } else if(parseInt($display.text()) < count) {
        var curr_count = parseInt($display.text()) + 1;
        $display.text(curr_count);
      } else {
        clearInterval(int);
      }
    }, int_speed);
  }
  </script>
    <script>
        $( document ).ready(function() {
         console.log( "ready!" );
         countUp({{score}});
         makegraph();
         });
    </script>
</head>
<!--------------------------------------- HEAD END --------------------------------------->
<!-------------------------------------- BODY START -------------------------------------->
<body>
  <!--로딩바-->
<body style="background-color: #FAF1BE !important;">
  <section id="main_contents">
    <div class="wrapper">
      <div class="title">
        <h3 class="main_title">주조상궁</h3>
        <h3 class="sub_title">안주 궁합 점수 측정기</h3>
      </div>
      <div class="intro">
        <h1>♥궁합 평가와 점수는? 두근두근♥</h1>
        <div class="type">  
          <ul class="type_list" style="padding: 0 !important;">
              <li>소주와 회는 몇점일까요</li>
              <li>맥주와 회..이거 맞아?</li>
              <li>막걸리와 전은 몇점일까요?</li>
              <li>최고 점수 조합에 도전하세요</li>
              <li>소주와 회는 몇점일까요</li>
          </ul>
      </div>
      </div>
      <!--Main layout-->
      <main>
        <div class="container">
          <hr class="border_line" size="5px" color="black" noshade="">
            <!-------------------------------------- FILE UPLOAD -------------------------------------->
            <form action="http://localhost:5000/fileUpload" method="POST" enctype="multipart/form-data">
              <div class="filebox" style="display:contents">
                <div style="float:left">
                  <label for="ex_file" style="display: inline !important;">사진업로드</label>
                  <input type="file" name="file" id="ex_file" />
                </div>
                <div style="float:right">
                  <label for="ex_submit" style="display: inline !important;"">학습시작</label>
                  <input type="submit" id="ex_submit" />
                </div>
              </div>
            </form>
          <br>
          <hr class="border_line" size="5px" color="black" noshade="">
          {% if score %}
          <div id="label-container">
            <div id="anju" class="d-flex" style="display:flex !important"></div>
            <div id="alcohol" class="d-flex" style="display:flex !important"></div>
          </div>
          {% endif %}


           <!-------------------------------------- FILE UPLOAD -------------------------------------->
           <!-------------------------------------- RESULTs AREA-------------------------------------->
          <!--로딩바-->
          <div id="loading" style="margin-left: 0px; text-align : center;">
            <img src="/static/img/loading.gif" style="width: 3vw !important;">
            <p>변환중입니다..잠시기다려주세요.</p>
          </div>

            {% if result_img %}
            <img src="{{url_for('static', filename='result_img/'+result_img)}}" class="img-fluid z-depth-1-half" alt="">
            {% endif %}

            {% if score %}
            <div class="count" style="display: table  !important; margin: auto !important;">0</div>
            {% endif %}

            <div class="text-typing" style="display: inline-block !important;">
                  <p>{% if desc %} {{ desc }} {% endif %}</p>
            </div>

          <!-------------------------------------- RESULTs AREA-------------------------------------->
        </div>
      </main>
    </div>
    <!--Main layout-->
  </section>
</body>
<script>
  $('#ex_submit').click(function(){
    $('#loading').show();
    return true;
    });
</script>

<script>
    labelContainer = document.getElementById("label-container");

    function makegraph() {
			var barWidth = Math.round({{anju_score}}.toFixed(2) * 100) + "%";
			var label = "<div class='food-label d-flex align-items-center'>" + "{{anju}}" + "</div>"
			var bar = "<div class='bar-container position-relative container'  style='width: 55vw !important;'><div class='box'></div><div class='d-flex justify-content-center align-items-center bar' style='width: " + barWidth + "'><span class='d-block percent-text'>" + Math.round({{anju_score}}.toFixed(2) * 100) + "%</span></div></div>"
			document.getElementById("anju").innerHTML = label + bar;
			console.log("{{anju}}", {{anju_score}})

			var barWidth2 = Math.round({{alcohol_score}}.toFixed(2) * 100) + "%";
			var label2 = "<div class='food-label d-flex align-items-center'>" + "{{alcohol}}" + "</div>"
			var bar2 = "<div class='bar-container position-relative container' style='width: 55vw !important;'><div class='box'></div><div class='d-flex justify-content-center align-items-center bar' style='width: " + barWidth2 + "'><span class='d-block percent-text'>" + Math.round({{alcohol_score}}.toFixed(2) * 100) + "%</span></div></div>"
			document.getElementById("alcohol").innerHTML = label2 + bar2;
			console.log("{{alcohol}}", {{alcohol_score}})
        }
</script>

<!--------------------------------------- BODY END --------------------------------------->
</html>